<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head(title='add.clubhuis')"></head>
<body>
<header th:replace="fragments/header :: header(current='add-clubhuis')"></header>
<main>
    <div class="container">
        <h1 th:text="#{add.clubhuis}"></h1>
        <form method="post" action="/clubhuis/add" th:object="${clubhuis}" novalidate>
            <p class="mb-3">
                <label for="name" class="col-form-label">Name</label>
                <input type="text" th:field="*{name}" id="name" placeholder="Name" class="form-control col-sm-5">
                <span th:each="error:${#fields.errors('name')}" th:text="#{${error}}" class="text-danger"></span>
            </p>
            <p class="mb-3">
                <label for="email" class="col-form-label">Email</label>
                <input type="text" th:field="*{email}" id="email" placeholder="Email" class="form-control col-sm-5">
                <span th:each="error:${#fields.errors('email')}" th:text="#{${error}}" class="text-danger"></span>
            </p>
            <p class="mb-3">
                <label for="gemeente" class="col-form-label">Municipality</label>
                <input type="text" th:field="*{gemeente}" id="gemeente" placeholder="Municipality" class="form-control col-sm-5">
                <span th:each="error:${#fields.errors('gemeente')}" th:text="#{${error}}" class="text-danger"></span>
            </p>
            <p class="mb-3">
                <label for="maxMembers" class="col-form-label">Max members</label>
                <input type="number" th:field="*{maxMembers}" id="maxMembers" placeholder="Max members" class="form-control col-sm-5">
                <span th:each="error:${#fields.errors('maxMembers')}" th:text="#{${error}}" class="text-danger"></span>
            </p>
            <p>
                <input type="submit" th:value="#{add.clubhuis}" class="btn btn-primary">
            </p>
        </form>
    </div>
</main>
<footer>

</footer>
</body>
</html>