<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head(title='clubhuis.overview')"></head>
<body>
<header th:replace="fragments/header :: header(current='clubhuis-overview')"></header>
<main>

    <div th:switch="${clubhuizen.size()}" class="container">
        <p th:case=0 th:text="#{${message}}"></p>
        <div th:case="*">
            <h2 th:text="#{Clubhuizen}"></h2>
            <table class="table table-striped table-responsive-lg">
                <thead>
                <tr>
                    <th>Naam</th>
                    <th>Email contact persoon</th>
                    <th>Gemeente</th>
                    <th>Max-members</th>
                    <th sec:authorize="hasRole('ADMIN')">Update</th>
                    <th sec:authorize="hasRole('ADMIN')">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="huis:${clubhuizen}">
                    <td th:text="${huis.name}"></td>
                    <td th:text="${huis.email}"></td>
                    <td th:text="${huis.gemeente}"></td>
                    <td th:text="${huis.maxMembers}"></td>
                    <!--<td sec:authorize="hasRole('ADMIN')"><a th:href="@{/coins/update/{id}(id=${coin.id})}" class="btn btn-default">Update</a></td>
                    <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/coins/delete/{id}(id = ${coin.id})}" class="btn btn-default">Delete</a></td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>