<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head(title='coin.overview')"></head>
<body>
<header th:replace="fragments/header :: header(current='coins-overview')"></header>
<main>
    <div class="container">
        <h1>Zoeken</h1>
        <form method="GET" action="/coins/search/country">
            <p class="mb-3">
                <span th:if="${error} != null" class="alert-danger" th:text="#{${error}}"></span>
                <label for="country" class="col-form-label" th:text="#{search.country}"></label>
            <div class="input-group">
            <input  type="text" name="country" id="country" th:placeholder="#{country}" class="form-control col-sm-5" th:value="${previousCountryValue}">
                <span class="input-group-btn">
                       <input type="submit" th:value="#{search.country}" class="btn btn-default">
                    </span>
            </div>
            </p>
        </form>
        <form method="GET" action="/coins/search/year">
            <p class="mb-3">
                <span th:if="${yearerror} != null" class="alert-danger" th:text="#{${yearerror}}"></span>
                <label for="year" class="col-form-label" th:text="#{search.year}"></label>
            <div class="input-group">
            <input  type="number" name="year" id="year" class="form-control col-sm-5" th:value="${previousYearValue}" placeholder="520">
                <span class="input-group-btn">
                       <input type="submit" th:value="#{search.year}" class="btn btn-default">
                    </span>
            </div>
            </p>
        </form>
        <form method="GET" action="/coins/search/untilyear">
            <p class="mb-3">
            <p class="mb-3">
                <span th:if="${endyearerror} != null" class="alert-danger" th:text="#{${endyearerror}}"></span>
                <label for="endyear" class="col-form-label" th:text="#{search.until.year}"></label>
            <div class="input-group">
            <input  type="number" name="endyear" id="endyear" class="form-control col-sm-5" th:value="${previousUntilYearValue}" placeholder="1900">
                <span class="input-group-btn">
                       <input type="submit" th:value="#{search.until.year}" class="btn btn-default">
                    </span>
            </div>
            </p>
        </form>

        <form method="GET" action="/coins/overview/sort">
               <p class="mb-3">
                <label for="sortmunt" class="col-form-label" th:text="#{sort.label}"></label>
            <div class="input-group">
            <select name="sortmunt" id="sortmunt" class="form-control col-sm-5">
                <option value="titleASC" th:text="#{sort.MuntOverviewTitle.ASC}"></option>
                <option value="titleDESC" th:text="#{sort.MuntOverviewTitle.DESC}"></option>
                <option value="yearASC" th:text="#{sort.MutOverviewYear.ASC}"></option>
                <option value="yearDESC" th:text="#{sort.MuntOverviewYear.DESC}"></option>
            </select>
                <span class="input-group-btn">
                        <input type="submit" th:value="#{sort}" class="btn btn-default">
                    </span>
            </div>
            </p>
        </form>
    </div>

    <div th:switch="${coins.size()}" class="container">
        <p th:case=0 th:text="#{${message}}"></p>
        <div th:case="*">
            <h2 th:text="#{coins}"></h2>
            <table class="table table-striped table-responsive-lg">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Country</th>
                    <th>Year</th>
                    <th sec:authorize="hasRole('ADMIN')">Update</th>
                    <th sec:authorize="hasRole('ADMIN')">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="coin:${coins}">
                    <td th:text="${coin.id}"></td>
                    <td th:text="${coin.title}"></td>
                    <td th:text="${coin.country}"></td>
                    <td th:text="${coin.year}"></td>
                    <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/coins/update/{id}(id=${coin.id})}" class="btn btn-default">Update</a></td>
                    <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/coins/delete/{id}(id = ${coin.id})}" class="btn btn-default">Delete</a></td>
                </tr>
                </tbody>
            </table>
<!--            <div th:if="${pageYes}">-->
<!--                <span th:each="i: ${#numbers.sequence(1, pageAmount)}">-->
<!--                    <a th:if="${currentPage != i}" th:href="@{'/coins/overview/'+${i}}">[[${i}]]</a>-->
<!--                    <span th:unless="${currentPage!=i}">[[${i}]]</span>-->
<!--                </span>-->
<!--            </div>-->
            <div th:if="${pageYes}">
                <ul class="pagination" th:each="i: ${#numbers.sequence(1, pageAmount)}">
                    <li class="page-item" th:if="${currentPage != 1 && i == 1}"><a th:href="@{'/coins/overview/'+${currentPage - 1}}">previous</a></li>
                    <li class="page-item"><a th:if="${currentPage != i}" th:href="@{'/coins/overview/'+${i}}">[[${i}]]</a></li>
                    <li class="page-item active"><span  th:unless="${currentPage!=i}">[[${i}]]</span></li>
                    <li class="page-item" th:if="${currentPage != pageAmount && i == pageAmount && pageAmount > 1}"><a th:href="@{'/coins/overview/'+${currentPage + 1}}">next</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>